@model TodoListWeb.ViewModels.TodoList.TodoListsViewModel;
@{
    ViewData["Title"] = "更新代辦事項";
}

<div class="text-center">
    <h4 class="text-muted">更新代辦事項</h4>

    <div class="pt-5">
        <form asp-action="TodoUpdateInfo" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" name="Id" value="@ViewBag.listId" />
            <div class="form-group p-2">
                <input class="form-control" type="text" placeholder="請填寫標題" asp-for="title" />
                <span asp-validation-for="title" class="form-text text-danger"></span>
            </div>
            <div class="form-group p-2">
                <textarea class="form-control" placeholder="請填寫內文" asp-for="content"></textarea>
                <span asp-validation-for="content" class="form-text text-danger"></span>
            </div>
            <div class="form-group p-2">
                <select class="form-control" asp-for="listType" asp-items="Model.listTypes">
                    <option value="">--請選擇類別--</option>
                </select>
                <span asp-validation-for="listType" class="form-text text-danger"></span>
            </div>
            <input class="btn btn-outline-info mr-5" type="submit" value="更新" onclick="return confirm('確定更新?')" />
            <a class="btn btn-outline-secondary" asp-action="Index">返回</a>
        </form>
    </div>
</div>